/*
  Estilos de Botões
  Preferencialmente user o prefixo botao-*
*/

.botao-anexar {
  color: var(--cor-texto-botoes);
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  height: 2.6rem;
  padding-top: 0.8rem;
}

.botao-enviar {
  color: var(--cor-texto-botoes);
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  height: 2.6rem;
  padding-top: 0.8rem;
}

.botao-interacao {
  border-radius: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  max-height: 3rem;
  margin-top: 0.65rem;
  margin-bottom: 0.65rem;
  padding: 0.4rem;
}

.botao-auth {
  border-radius: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  height: 2.2rem;
  margin: 0.3rem;
  padding-top: 0.6rem;
}

.botao-enviar:hover,
.botao-anexar:hover,
.botao-interacao:hover {
  background-color: var(--cor-de-destaque) !important;
}
