/*
  Estilos de formatação do 'corpo' do elemento HTML
  Preferencialmente usar corpo-* ou nome_elemento-* como prefixos.
  Ex: modal-*, corpo-*
*/

.modal-div {
  top: 2rem;
}

.modal-form {
  border-radius: 1rem;
  border: none;
  box-shadow: none;
  margin: 0.25rem;
  background-color: var(--cor-do-corpo);
}

.corpo {
  border-radius: 1rem;
  margin: 0.5rem;
  background-color: var(--cor-do-corpo);
}

/* card e card-header referem-se a estilos do Laravel/ui */
.card {
  border-radius: 1rem;
  top: 1rem;
}

.card-header {
  background-color: var(--cor-do-corpo);
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  font-size: 1.15rem;
  font-weight: bold;
}

.corpo-imagem-perfil {
  border-radius: 50%;
  background-color: #fff;
  padding: 1rem;
}
