/*
  Estilos de formatação de texto
  Preferencialmente usar o prefixo texto-*
*/

.texto-nome-usuario {
  font-size: 1.05rem;
  font-weight: bold;
  padding: 0.25rem;
}

.texto-principal {
  font-size: 1rem;
  padding: 0.25rem;
  text-align: justify;
}

.texto-secundario {
  color: #bdc3c7;
  font-size: 0.80rem;
}

.link-perfil {
  color: inherit;
}

.link-perfil:hover {
  color: var(--cor-de-destaque)
}

/* Configura exibição dos textos em plataformas mobile */
.ocultar-em-mobile {
  display: inline;
}

@media (max-width: 480px) {
  .ocultar-em-mobile {
    display: none;
  }
}
