/*
  Estilos de inputs (ex: inputs, textareas, etc)
  Preferencialmente usar o elemento como prefixo.
  Ex: 'textarea-*', 'input-*'.
*/

.success-textarea textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--cor-de-destaque);
  box-shadow: 0 1px 0 0 var(--cor-de-destaque);
}

.active-success-textarea.md-form label.active {
  color: var(--cor-de-destaque);
}

.active-success-textarea.md-form textarea.md-textarea:focus:not([readonly])+label {
  color: var(--cor-de-destaque);
}

.md-form input:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 var(--cor-de-destaque) !important;
  border-bottom: 1px solid var(--cor-de-destaque) !important;
}

.md-form input:focus:not([readonly]) + label {
  color: var(--cor-de-destaque) !important;
}
