/*
  Estilos dos menus
  Preferencialmente usar o prefixo menu-*
*/

.menu-principal {
  font-weight: bold;
  font-size: 1.75rem;
  background-color: var(--cor-do-corpo) !important;
  color: var(--cor-texto-geral) !important;
  border-radius: 1rem;
}

.menu-principal-dropdown {
  font-weight: bold;
  font-size: 1.6rem;
  background-color: var(--cor-do-corpo) !important;
  text-align: right;
  border-radius: 1rem;
}

.menu-principal:hover {
  color: var(--cor-de-destaque) !important;
}

.menu-opcoes-publicacao {
  color: #bdc3c7 !important;
  font-size: 1rem;
}

/* dropdown-item se refere a um estilo do Bootstrap */
.dropdown-item {
  color: var(--cor-texto-geral) !important;
}

.menu-opcoes-publicacao:hover,
.dropdown-item:hover {
  background-color: transparent !important;
  color: var(--cor-de-destaque) !important;
}

.menu-opcoes-item {
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.dropdown-item.atencao:hover {
  color: var(--cor-de-aviso) !important;
}

@media (min-width: 480px) {
  .menu-principal {
    float: right;
  }
}

@media (max-width: 479px) {
  .menu-principal {
    width: -moz-available; /* Para uso em navegadores mozilla */
    width: -webkit-fill-available; /* Para uso em navegadores webkit */
    text-align: right;
  }
}
