/*
  REGRAS CSS:

    usar preferencialmente cores hexadecimais e sempre que possivel abreviadas (exemplo: #fff ao inves de #ffffff).
    usar identação de 2 espaços.
    nomes devem ser em portugues separados por hifen (exemplo: botao-menu).
    colocar espaço depois de ':'.
    colocar espaço antes de '{}'.
    colocar um comentario sempre que o bloco de estilo não for intuitivo (exemplo na linha 15:33), marcando o fim do bloco não intuitivo com abertura e fechamento de comentário.
    sempre colocar ';' no final de cada declaração.
    sempre deixar uma linha em branco entre cada bloco de estilo.
    evitar usar nomes de estilo padrões do Bootstrap.
*/

/*
  configura a cor de exibição da textarea de nova publicação para usar
  a mesma cor do Bootstrap btn-success
*/

.success-textarea textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  box-shadow: 0 1px 0 0 #00C851;
}

.active-success-textarea.md-form label.active {
  color: #00C851;
}

.active-success-textarea.md-form textarea.md-textarea:focus:not([readonly])+label {
  color: #00C851;
}

/**/

.modal-div {
  top: 2rem;
}

.modal-form {
  border-radius: 1rem;
  border: none;
  box-shadow: none;
  margin: 0.25rem;
  background-color: #fff;
}

.menu-principal {
  font-weight: bold;
  font-size: 1.75rem;
  background-color: #fff !important;
  color: #000 !important;
  text-align: right;
  border-radius: 1rem;
  float: right;
}

.menu-principal-dropdown {
  font-weight: bold;
  font-size: 1.6rem;
  background-color: #fff !important;
  color: #000 !important;
  text-align: right;
  border-radius: 1rem;
}

.menu-principal:hover {
  color: #555 !important;
}

.dropdown-item:hover {
  background-color: transparent !important;
  color: #555 !important;
}

.botao-anexar {
  color: #fff;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  height: 2.6rem;
  padding-top: 0.8rem;
}

.botao-enviar {
  color: #fff;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  height: 2.6rem;
  padding-top: 0.8rem;
  background-color: #00C851 !important;
}

.close {
  font-size: 2.5rem;
}
